{% extends "site_base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block menu %}
	{% include "site_menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/follower-list/">Список подписчиков</a>
		</li>
		<li>
			<a href="/create-follower/">Создать подписчика</a>
		</li>
	</div>
    <h1>Добавление подписчика на курс</h1>
    <form method="post">
        <p>Курс: </p>
        <select size="3" name="course_name" style="width:200px">
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <p>Подписчик: </p>
        <select size="3" name="follower_name" style="width:200px">
            {% for item in followers %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Записать </button>
    </form>
{% endblock %}