{% extends "site_base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block menu %}
	{% include "site_menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/follower-list/">Список подписчиков</a>
		</li>
		<li>
			<a href="/add-follower/">Добавить подписчика на курс</a>
		</li>
	</div>
    <div>
        <h1>Создание подписчика</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Сохранить </button>
        </form>
    </div>
{% endblock %}