{% extends "site_base.html" %}
{% block title %}
	Приветствователь
{% endblock %}
{% block menu %}
	{% include "site_menu.html" %}
{% endblock %}
{% block body %}
    <div class="content">
    <h2></h2>
	<!--Начинаем абзац с красной строки-->
	<p style="text-indent:20px">
	Приветствую тебя, {{username}}!</p>
	<form action="" method="post">
				<fieldset>
					<legend>Оставьте отзыв:</legend>
					<p><label class="title" for="email">Ваш email:</label>
						 <input type="text" name="email" id="email" required></p>
					<p><label for="feedback" class="title">Отзыв:</label>
						 <textarea name="feedback" id="feedback" required></textarea></p>
					<span class="title">Поставьте оценку сайту:</span>
					<label><input type="radio" name="evaluation" value="5" /> Отлично</label>
					<label><input type="radio" name="evaluation" value="4" /> Хорошо</label>
					<label><input type="radio" name="evaluation" value="3" /> Ну Такое</label>
					<label><input type="radio" name="evaluation" value="2" /> Плохо</label>
					<label><input type="radio" name="evaluation" value="1" /> КОЛ</label></p>
				</fieldset>
			<div class="submit"><input type="submit" value="Отправить" /></div>
	</form>
    </div>
{% endblock %}